.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, rgb(1, 85, 1), rgb(169, 169, 5)); 
  padding: 1rem;
  font-family: Arial, sans-serif;
  height: 60px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-img {
  width: 80px;
  height: auto; 
  margin-left: 50px; 
  margin-right: 20px; 
}

.nav-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #b8f941d4;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin-right: 50px;
}

.nav-menu li {
  margin-left: 1rem;
}

.nav-link {
  color: #307b05;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #147bf1;
}

.nav-toggle {
  display: none;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-link svg {
  margin-right: 0.5rem;
}


.nav-menu.active {
  display: block;
  width: 50%;
  background-color: #00000096; 
  position: absolute; 
  top: 66px; 
  left: 0; 
  padding-top: 10px; 
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.546);  
  border-radius: 5px;   
}


@media (max-width: 600px) {
  .navbar { 
    flex-direction: row;
    height: 50px;
    justify-content: space-between; 
  }
 
  .nav-logo-img {
    width: 60px;
    margin-left: 20px;
  }

  .nav-logo-text {
    font-size: 1.2rem;
  }

  .nav-menu {
    display: none;
    padding: 0;
  }


  .nav-link {
    font-size: 15px; 
    color: white;
    padding-bottom: 20px;
  }

  .nav-toggle {
    color: black;
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin-right: 30px;
  }

  .nav-menu hr {
    display: none;
  }

  .nav-menu.active {
    display: grid; 
    place-items: right;
    width: 120px;
  }
}
