/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, rgb(1, 85, 1), rgb(169, 169, 5)); /* Gradient background */
  padding: 1rem;
  color: #fff; /* Text color */
  font-family: Arial, sans-serif;
  height: 60px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-img {
  width: 80px; /* Logo size */
  height: auto; /* Maintain aspect ratio */
  margin-left: 50px; /* Space on the left of the logo */
  margin-right: 20px; /* Space between logo and text */
}

.nav-logo-text {
  font-size: 1.5rem; /* Font size for logo text */
  font-weight: bold; /* Bold font */
  font-style: italic; /* Italic font style */
  color: #b8f941d4; /* Logo text color */
}

.nav-menu {
  list-style: none; /* Remove default list styles */
  display: flex; /* Flexbox for horizontal alignment */
  margin-right: 50px; /* Space on the right of the menu */
}

.nav-menu li {
  margin-left: 1rem; /* Space between menu items */
}

.nav-link {
  color: #307b05; /* Link text color */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Font size for links */
  display: flex; /* Flexbox for icon and text alignment */
  align-items: center; /* Center vertically */
  padding: 10px; /* Padding for better touch targets */
  margin-bottom: -10px; /* Adjust margin for visual alignment */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent background on hover */
  color: #147bf1; /* Change text color on hover */
}

.nav-menu hr {
  border: none; /* Remove default border */
  width: 80%; /* Width of the underline */
  height: 3px; /* Height of the underline */
  border-radius: 10px; /* Rounded corners */
  background: #ff4141; /* Color of the underline */
}

.nav-link svg {
  margin-right: 0.5rem; /* Space between icon and text */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    height: 250px;
  }

  .nav-menu {
    flex-direction: column; /* Stack menu items vertically */
    width: 100%; /* Full width */
  }

  .nav-menu li {
    margin: 0.5rem 0; /* Space between stacked items */
  }
}

