.App {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgba(0, 0, 0, 0.683); /* Adding a background to make text readable */
  border-radius: 10px;
}

.App-header h1 {
  font-size: 2.5rem;
  color: #fffffffe;
  margin: 20px 0;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

button {
  background-color: #058723;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

button:last-child {
  margin-right: 0;
}

.search button:hover {
  background-color: #0056b3;
}
.clear button:hover {
  background-color: #e70404;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview h3{
  color: white;
}

.preview-image {
  max-width: 100%;
  max-height: 300px; /* Set a max height to ensure uniform size */
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the image is scaled down while maintaining aspect ratio */
  border: 2px solid #ccc;
  margin-top: 10px;
}

@media (max-width:750px) {
  .App-header h1 {
    font-size: 2rem;
  }

  .App-header {
    font-size: calc(6px + 2vmin);
  }

  button {
    padding: 8px 15px;
    font-size: 0.8rem;
  }

  .preview-image {
    max-width: 80%;
    max-height: 250px; 
    margin-top: 0;
  }
}

@media (max-width:550px) {
  .App-header h1 {
    font-size: 1.5rem;
  }

  .preview-image {
    max-width: 80%;
    max-height: 200px; 
    margin-top: 0;
  }
}

@media (max-width:450px) {
  .App-header h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 6px 12px;
    font-size: 0.6rem;
  }
}